// Цвета
$clr-blkt: var(--clr-blackout);
$clr-hvr: var(--clr-hover);
$clr-stp: var(--clr-stop);
$clr-mn: var(--clr-main);
$clr-g: var(--clr-grey);
$clr-ok: var(--clr-ok);
$clr-bg: var(--clr-bg);
$clr: var(--clr-text);
$clr-f: var(--clr-f);

// Рамка
$ln-crr: var(--solid-current);
$ln-clr: var(--solid-text);
$ln: var(--solid);

// Бордер
$br: var(--br);
$br-cart: var(--br-cart);

// Шрифты
$base: var(--base);

$h1: var(--h1);
$h2: var(--h2);
$h3: var(--h3);
$h4: var(--h4);
$h5: var(--h5);

$f12: 0.75rem;
$f14: 0.875rem;
$f16: 1rem;
$f18: 1.125rem;
$f20: 1.25rem;
$f24: var(--f24);
$f28: var(--f28);
$f32: var(--f32);
$f36: var(--f36);
$f40: var(--f40);
$f48: var(--f48);

// Отступы
$con: var(--container);
$i1: 0.0625rem;
$i2: 0.125rem;
$i4: 0.25rem;
$i8: 0.5rem;
$i10: 0.625rem;
$i12: 0.75rem;
$i16: 1rem;
$i18: 1.125rem;
$i20: var(--20);
$i24: var(--24);
$i28: var(--28);
$i32: var(--32);
$i36: var(--36);
$i40: var(--40);
$i44: var(--44);
$i48: var(--48);
$i52: var(--52);
$i56: var(--56);
$i60: var(--60);
$i64: var(--64);
$i68: var(--68);
$i72: var(--72);
$i76: var(--76);
$i80: var(--80);
$i84: var(--84);
$i88: var(--88);
$i92: var(--92);
$i96: var(--96);
$i100: var(--100);
$i104: var(--104);
$i108: var(--108);
$i112: var(--112);
$i116: var(--116);
$i120: var(--120);
$i124: var(--124);
$i128: var(--128);
