@use "../abstracts" as *;

.scroll--x {
  display: flex;
  scroll-snap-type: x mandatory;
  padding-bottom: 1rem;
  gap: 1rem;
  overflow-x: auto;
}

.no-scroll {
  overflow: hidden !important;
}

.hide {
  display: none !important;
}

.cover {
  @extend %bg-cover;
}

.contain {
  @extend %bg-contain;
}

.current {
  color: var(--clr-main) !important;
}

a.current,
.current a {
  pointer-events: none;
}
