@use "../abstracts" as *;

.modal {
  @extend %flex;
  position: fixed;
  inset: 0;
  overscroll-behavior: none;
  overflow: hidden;
  z-index: 9;
  transition: 0.5s opacity;

  &:not(.active) {
    opacity: 0;
    pointer-events: none;
    user-select: none;
  }

  &::before {
    content: "";
    @extend %inset;
    background-color: $clr-blkt;
    opacity: 0.5;
  }

  &--body {
    position: relative;
    width: 100%;
    border-radius: $br-cart;
    z-index: 1;
    max-width: 50rem;
    width: 100%;
    max-height: 100%;
    padding: $i64;
    overflow: hidden auto;
  }

  &--name {
    font-weight: 700;
    font-size: $h2;
    line-height: 120%;
    color: $clr;
  }

  .btns {
    margin-top: $i32;
  }
}
